beautifulsoup4==4.6.3
bs4==0.0.1
Django==2.1
django-mongodb-engine==0.6.0
djangotoolbox==1.8.0
eyeD3==0.8.7
google==2.0.1
google-search==1.0.2
GoogleScraper==0.2.1
gTTS==2.0.1
gTTS-token==1.1.1
matplotlib==2.2.3
multidict==4.3.1
nbconvert==5.3.1
nbformat==4.4.0
nltk==3.3
numpy==1.15.0
hmmlearn==0.2.0
html5lib==1.0.1
httplib2==0.18.0
jsonschema==2.6.0
Pillow==3.1.2
-e git+https://github.com/tyiannak/pyAudioAnalysis.git@dbe9ab72eca3c8c22918316839ada8c7eee1a35d#egg=pyAudioAnalysis
requests==2.9.1
scikit-learn==0.19.2
scipy==1.1.0
selenium==3.14.0
simplejson==3.16.0
sklearn==0.0
SpeechRecognition==3.8.1
SQLAlchemy==1.2.10
urllib3==1.13.1
virtualenv==16.0.0
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.0
XlsxWriter==0.7.3
yarl==1.2.6

